<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xry.system.dao.AdminUserMapper">
    <resultMap id="BaseResultMap" type="cn.xry.system.domain.AdminUser">
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="divide_per" jdbcType="REAL" property="dividePer"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="account_name" jdbcType="VARCHAR" property="accountName"/>
        <result column="bank_account" jdbcType="VARCHAR" property="bankAccount"/>
        <result column="opening_bank" jdbcType="VARCHAR" property="openingBank"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="status" jdbcType="CHAR" property="status"/>
    </resultMap>


    <select id="findAdminUser" resultMap="BaseResultMap">
        select
        u.user_id,u.username,u.mobile,u.divide_per,u.create_time,
        u.modify_time,u.last_login_time,u.account_name,u.bank_account,
        u.opening_bank,u.avatar,u.description,u.status
        from
        admin_user u
        where 1=1
        <if test="au.userId != null and au.userId != ''">
            AND u.user_id = #{au.userId}
        </if>
        <if test="au.username != null and au.username != ''">
            AND u.username = #{au.username}
        </if>
        <if test="au.status != null and au.status != ''">
            AND u.status = #{au.status}
        </if>
        order by u.user_id
    </select>

    <select id="findAdminUserWithRole" resultType="cn.xry.system.domain.AdminUserWithRole">
    select
        u.user_id userId,u.username,u.divide_per,u.create_time,
		u.modify_time,u.last_login_time,u.account_name,u.bank_account,
		u.opening_bank,u.avatar,u.description,u.status,ur.role_id roleId
    from
    admin_user u
    left join
    user_role ur on (u.user_id = ur.user_id)
    where
    u.user_id = #{userId}
    </select>

    <select id="findAdminUserAndRoleName" resultMap="BaseResultMap">
	SELECT
		u.user_id,u.username,u.mobile,u.divide_per,u.create_time,
		u.modify_time,u.last_login_time,u.account_name,u.bank_account,
		u.opening_bank,u.avatar,u.description,u.status,
	    group_concat(r.role_name) AS roleName
	FROM
		admin_user u
	LEFT JOIN user_role ur ON u.user_id = ur.user_id
	LEFT JOIN role r ON r.role_id = ur.role_id
	WHERE
		u.user_id = #{userId}
	GROUP BY
		u .username
  </select>

</mapper>