<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xry.pay.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="cn.xry.pay.domain.Order">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mch_id" jdbcType="BIGINT" property="mchId" />
    <result column="passageway_id" jdbcType="BIGINT" property="passagewayId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="pay_type" jdbcType="VARCHAR" property="payType" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="callback_status" jdbcType="CHAR" property="callbackStatus" />
    <result column="user_ip" jdbcType="VARCHAR" property="userIp" />
    <result column="body" jdbcType="VARCHAR" property="body" />
    <result column="nonce_str" jdbcType="VARCHAR" property="nonceStr" />
    <result column="attach" jdbcType="VARCHAR" property="attach" />
    <result column="notify_url" jdbcType="VARCHAR" property="notifyUrl" />
    <result column="callback_url" jdbcType="VARCHAR" property="callbackUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="limit_pay" jdbcType="VARCHAR" property="limitPay" />
    <result column="scene_info" jdbcType="VARCHAR" property="sceneInfo" />
  </resultMap>
</mapper>