<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xry.pay.dao.UserMchPayMapper">
  <resultMap id="BaseResultMap" type="cn.xry.pay.domain.UserMchPay">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mch_id" jdbcType="VARCHAR" property="mchId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="passageway_id" jdbcType="VARCHAR" property="passagewayId" />
    <result column="settlement_rate" jdbcType="REAL" property="settlementRate" />
    <result column="status" jdbcType="BIT" property="status" />
  </resultMap>
</mapper>